*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    background-color: black;
    color:white;
    text-align: center;

}
.navbar a{
    color:tomato;
    text-decoration: none;
    margin-right:10px;
}
.about h1{
    text-align: center;
}
.about img{
    width:300px;
    border-radius: 50%;
    display: block;
}
.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer{
    background-color: gray;
    height: 80px;
    text-align: center;
}
.footer a{
    color:brown;
    margin-right:10px;
}
.footer p{
    margin-top:15px;
    margin-right:10px;
}
